.banner-maker
    .banner-maker__layers
        .banner-maker__layer(ng-repeat="layer in dataBanner.layers")
            img(ng-src="{{layer.frame}}")
        .banner-maker__layer--add(ng-click="addLayer()")
            span + add frame
    div
        ng-banner-modal(template='default', data={}) open modal